flask
streamlit
chromadb
pypdf2
rank_bm25
tqdm
werkzeug
markdown
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
google-generativeai
google-ai-generativelanguage
sentence-transformers
transformers
torch
tokenizers
duckdb>=0.9.2